<main class="d-flex border border-primary vw-100 vh-100">

  <section class="w-75 h-100 bg-success">Complete Here</section>
  <section class="w-25 h-100 h-100">
    <div class="h-100 d-flex flex-column justify-content-center m-5">
      <h3 class="text-center">Login</h3>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <input type="button" value="Login" class="btn btn-primary mt-3">
    </div>
  </section>

</main>